@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-mono: "Roboto Mono", monospace;
  --font-pixelify: "Pixelify Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  /* Colors */
  --color-primary: #4981cf;
  --color-secondary: #89aad3;
  --color-ternary: #cadaee;
  --color-light: #e8ebf2;
}

html,
body {
  @apply p-0 m-0 bg-[#4981cf] font-quicksand;
}

.correct-char {
  @apply font-semibold text-white;
}

.incorrect-char {
  @apply text-[#FF0000] underline font-semibold;
}

.current-char {
  @apply relative;
}

.current-char::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3px;
  height: 1.9rem;
  background-color: #e8ebf2;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
}
