@import "tailwindcss";

.correct-char {
  color: green;
  font-weight: bold;
}

.incorrect-char {
  color: red;
  text-decoration: underline;
}

.current-char {
  position: relative;
}

.current-char::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 1.2rem;
  background-color: black;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
}
